{namespace f=TYPO3\CMS\Fluid\ViewHelpers}
<f:layout name="Default" />
<f:section name="Main">
    <h1>Sentry Test</h1>
    <p>Use the buttons below to trigger test events. For quick testing from the browser, use these buttons. For scripted tests use the curl examples shown below.</p>
    <ul>
        <li>
            <f:form action="triggerException" controller="Test" extensionName="Sentry" pluginName="Test" method="post">
                <button type="submit">Trigger Exception</button>
            </f:form>
        </li>
        <li>
            <f:form action="triggerUserError" controller="Test" extensionName="Sentry" pluginName="Test" method="post">
                <button type="submit">Trigger User Error</button>
            </f:form>
        </li>
        <li>
            <f:form action="triggerWarning" controller="Test" extensionName="Sentry" pluginName="Test" method="post">
                <button type="submit">Trigger Warning</button>
            </f:form>
        </li>
        <li>
            <f:form action="triggerNotice" controller="Test" extensionName="Sentry" pluginName="Test" method="post">
                <button type="submit">Trigger Notice</button>
            </f:form>
        </li>
        <li>
            <f:form action="triggerCritical" controller="Test" extensionName="Sentry" pluginName="Test" method="post">
                <button type="submit">Trigger Critical (log)</button>
            </f:form>
        </li>
        <li>
            <f:form action="triggerEmergency" controller="Test" extensionName="Sentry" pluginName="Test" method="post">
                <button type="submit">Trigger Emergency (log)</button>
            </f:form>
        </li>
        <li>
            <f:form action="logMessages" controller="Test" extensionName="Sentry" pluginName="Test" method="post">
                <button type="submit">Log multiple messages</button>
            </f:form>
        </li>
    </ul>

    <h2>curl examples</h2>
    <p>Run these on the server (or adapt the Host header) to trigger actions without using the browser.</p>
    <pre>
curl -X POST -H "Host: test.internal" \
  -d "tx_sentry_test[action]=triggerWarning&tx_sentry_test[controller]=Test" \
  http://127.0.0.1/sentry?no_cache=1

curl -X POST -H "Host: test.internal" \
  -d "tx_sentry_test[action]=triggerException&tx_sentry_test[controller]=Test" \
  http://127.0.0.1/sentry?no_cache=1
    </pre>
</f:section>
